.search-item-container {
  height: 230px;
  width: 230px;
  margin: 10px;
}
.search-img {
  height: 230px;
  width: 230px;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .search-item-container {
    height: 190px;
    width: 170px;
    margin: 5px;
  }
  .search-img {
    height: 190px;
    width: 170px;
    border-radius: 5px;
  }
}
