.movie-container {
  height: 270px;
  width: 250px;
  margin: 10px;
}
.img-props {
  height: 270px;
  width: 250px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .movie-container {
    height: 210px;
    width: 150px;
    margin: 5px;
  }
  .img-props {
    height: 210px;
    width: 150px;
    border-radius: 5px;
  }
}
