.user-search-input {
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 16px;
  width: 200px;
  height: 28px;
  border: none;
  background-color: transparent;
  background-image: url('https://res.cloudinary.com/dnjj1m9j1/image/upload/v1624197438/search_xchhbf.png');
  background-repeat: no-repeat;
  background-position: 99% 100%;
}

.user-search-input:focus {
  background-color: transparent;
  outline: none;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .user-search-input {
    box-sizing: border-box;
    padding-left: 5px;
    font-size: 12px;
    width: 150px;
    height: 25px;
    border: none;
    background-color: transparent;
    background-image: url('https://res.cloudinary.com/dnjj1m9j1/image/upload/v1624197438/search_xchhbf.png');
    background-repeat: no-repeat;
    background-position: 99% 100%;
  }
  .user-search-input:focus {
    background-color: transparent;
    outline: none;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 2px;
    color: #fff;
    font-size: 11px;
  }
}
